


<div class=" m-5 text1 pb-5  ">
    <div class=" p-5">
        <div class="text-center text-uppercase ">
               <h1>CONTACT US </h1>  
              <div class="d-flex justify-content-center   ">
                <div class="line "></div>
                <div ><i class="fas star fa-star fa-2x"></i></div>
                <div class="line"></div>
              </div>
     </div>
      

      <div class="container w-50  mt-5">
        <div class="m-4  p-3">
          <input class=" form form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name." fdprocessedid="f9rsje" aria-invalid="false">
        </div>
        <div class=" m-4 p-3 ">
          <input class="form form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address." fdprocessedid="g7ujyh">     
           </div>
        <div class="  m-4  p-3 ">
          <input class="form form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number." fdprocessedid="l3hxq">     
           </div>
        <div class="  m-4  p-3 ">
          <textarea class="form form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>    
        
        </div>
        <div class="form-group"><button class="btn btn-primary btnsup" id="sendMessageButton" type="submit" fdprocessedid="2olurs">Send</button></div>

      </div>

    </div>



