<header class="">
    <div class="home p-lg-5"  >
        <div class=" img-fluid  container d-flex flex-column align-items-center justify-content-center  text-center  text-white ">
            <div class=" p-4">
               <img src="assets\imges\avataaars.svg" class="w-50" alt="">
               <h1 class="heading">Start Angular</h1>
               <div class="d-flex justify-content-center m-5  ">
                <div class="line "></div>
                <div ><i class="fas p-2 star fa-star fa-2x"></i></div>
                <div class="line"></div>
               </div>
        
           <p class=" text mt-4">Graphic Artist - Web Designer - Illustrator</p>
        
        </div>
        </div>
        </div>
</header>
